[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mtscr"]
	path = mtscr
	url = https://github.com/jakub-jedrusiak/mtscr
[submodule "openscoring"]
	path = openscoring
	url = https://github.com/jakub-jedrusiak/openscoring
